body {
	background-color: #F6F6F6;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


.button {
	background-color: #F6F6F6;
	color: #27198C;
 	font-family: Muli;	 	
	font-size: 10px;
 	font-weight: 900;
 	letter-spacing: 1.4px;
 	line-height: 15px;
 	padding: 15px 60px 14px 15px;
 	border: 1px solid #FF6F0F;
}

.plusButton {
	color: white;
	background-color: #FF6F0F;
	padding: 4px 15px 13px 15px;
	border: 1px solid #FF6F0F;
	font-size: 23px;
	font-weight: 90;
}

.buttonSecond {
	padding: 30px 0px 0px 0px;
}



.greyScheme h1 {
color: #BEBEBE;
	font-family: "Roboto Slab";
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1.4px;
	line-height: 28px;
	text-align: left;
}

.greyScheme h4 {
	color: #BEBEBE;
	font-family: "Roboto Slab";
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1.4px;
	line-height: 28px;
	text-align: left;

}


.highlight-paragraph {
	color: #27198C;
	font-family: Muli;
	font-size: 25px;
	font-weight: 900;
	line-height: 44px;
}

.small-paragraph {
	color: #191919;
	font-family: Muli;
	font-size: 13px;
	font-weight: 600;
	line-height: 30px;
}

.section {

	padding: 20px 0px 60px 0px;

}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column1 {
  float: left;
  width: 25%;
  padding: 40px 0px 0px 0px;
  text-align: center;
}

/* Clear floats after image containers */
.row1::after {
  content: "";
  clear: both;
  display: table;
}


.columnImages img {

	height: 70px;
	width: auto;
	margin-top: -25px;
}

.column1 h1 {
	color: #E5E5E5;
	font-family: Muli;
	font-size: 48px;
	font-weight: 900;
	line-height: 58px;
}

.column1 p {
	color: #27198C;
	font-family: "Roboto Slab";
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1.4px;
	line-height: 22px;
	text-align: center;
}





/*.column1 {
text-align: center;
  width: 100%;
  
}*/

.columnInside {
	padding: 20px;
}

.imagesLeaves img {
	
	height: 630px;
	width: auto;
}


.imagesRightColumn img {
	width: 600px;
	height: auto;
	padding: 15px 0px 0px 0px;
}

.topImageRight img {
	padding: 20px 0px 0px 0px;
}

.row1Hidden {
	display: none;
}


/*tablet*/

@media only screen and (max-width: 1000px) {


	.imagesRightColumn img {
		width: 450px;
		height: auto;
		padding: 35px 0px 0px 0px;
	}

	.topImageRight img {
		padding: 50px 0px 0px 0px;
	}

	.imagesLeaves img {
	
	height: 460px;
	width: auto;
	margin-top: -10px;
	}

	.small-paragraph {
	
		font-size: 19.1px;
		
	}

	.highlight-paragraph {
	
	font-size: 34px;
	
	}

	.column1 h1 {
		display: none;
	}

	.column1 {
	  float: left;
	  width: 100%;
	  padding: 10px 0px 0px 0px;
	  text-align: left;
	}

	/* Clear floats after image containers */
	.row1::after {
	  content: "";
	  clear: both;
	  display: table;
	}

	.columnImages img {

	height: 55px;
	width: auto;
	margin: 15px 0px 0px 0px;
	}

	.column1 p {

	text-align: left;
	font-size: 15px;
	}

	.paragraphTablet p {
		margin-top: -40px;
		margin-left: 80px;
	}

	.row1 {
		margin: 45px 0px 0px 0px;
	}

	
	.section {

		padding: 0px 0px 60px 0px;

	}

	.buttonSecond {
	padding: 50px 0px 0px 0px;
	}

	body {
		padding: 25px 0px 0px 0px;
		

	}

}


/*Breaking it into 1 collumn after tablet */

@media only screen and (max-width: 750px) {

	.column {
    float: left;
    width: 100%;
	}
	.section {

		padding: 0px 0px 0px 0px;
		margin: 0px 0px -30px 0px;

	}

	.row1Hidden {
	 display: inline;
	
	}

	.row1HiddenTwo {
		display: none;
	}

.imagesLeaves img {
	
	height: 550px;
	width: auto;
	margin-top: 40px;
	}

}




/*Mobile*/

@media only screen and (max-width: 400px) {

	.column {
    float: left;
    width: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

		.imagesRightColumn img {
		width: 350px;
		height: auto;
		padding: 35px 0px 0px 0px;
		display: none;
	}

	.topImageRight img {
		padding: 50px 0px 0px 0px;
	}

	.imagesLeaves img {
	
	height: 350px;
	width: auto;
	margin-top: 40px;
	}

	.small-paragraph {
	
	color: #191919;
	font-family: Muli;
	font-size: 14px;
	font-weight: 600;
	line-height: 28px;
		
	}

	.highlight-paragraph {
	
	color: #27198C;
	font-family: Muli;
	font-size: 22px;
	font-weight: 900;
	line-height: 34px;
	
	}

	.column1 h1 {
		display: none;
	}

	.column1 {
	  float: left;
	  width: 100%;
	  padding: 10px 0px 0px 0px;
	  text-align: left;
	}

	/* Clear floats after image containers */
	.row1::after {
	  content: "";
	  clear: both;
	  display: table;
	}

	.columnImages img {

	height: 40px;
	width: auto;
	padding: 0px 0px 0px 0px;
	}

	.column1 p {

	text-align: left;
	font-size: 15px;
	}

	.paragraphTablet p {
		margin-top: -35px;
		margin-left: 60px;

		color: #27198C;
		font-family: "Roboto Slab";
		font-size: 12px;
		font-weight: bold;
		letter-spacing: 1.4px;
		line-height: 20px;
	}

	.row1 {
		margin: 45px 0px 0px 0px;

	}

	
	.section {

		padding: 10px 0px 0px 0px;
		margin: 0px 0px -10px 0px;

	}

	.buttonSecond {
	padding: 50px 0px 0px 0px;
	}

	body {
		padding: 0px 0px 0px 0px;
		

	}

	.greyScheme h4 {
	color: #BEBEBE;
	font-family: "Roboto Slab";
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1.2px;
	line-height: 24px;
	text-align: left;

	}

	.row1Hidden {
	 display: inline;
	
	}

	.row1HiddenTwo {
		display: none;
	}

	.button {
		background-color: #F6F6F6;
		color: #27198C;
	 	font-family: Muli;	 	
		font-size: 10px;
	 	font-weight: 900;
	 	letter-spacing: 1.4px;
	 	line-height: 15px;
	 	padding: 16px 60px 14px 15px;
	 	border: 1px solid #FF6F0F;
	}

	.plusButton {
		color: white;
		background-color: #FF6F0F;
		padding: 0px 15px 12px 15px;
		border: 1px solid #FF6F0F;
		font-size: 28px;
		font-weight: 90;
		/*font-family: Muli;*/
	}

		* {box-sizing:border-box}

	/* Slideshow container */
	.slideshow-container {
	  max-width: 1000px;
	  position: relative;
	  margin: auto;
	}

	/* Hide the images by default */
	.mySlides {
	    display: none;
	}

	/* The dots/bullets/indicators */
	.dot {
	  cursor: pointer;
	  height: 2px;
	  width: 11px;
	  margin: 0 2px;
	  background-color: #27198C;
	  /*border-radius: 50%;*/
	  display: inline-block;
	  transition: background-color 0.6s ease;
	}

	.active, .dot:hover {
	  background-color: #FF6F0F;
	}

}



