body {
	background-color: #F6F6F6;
}

/*Overall Code*/

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.highlightBox br {
		display: none;
	}



.button {
	background-color: #F6F6F6;
	color: #27198C;
 	font-family: Muli;	 	
	font-size: 10px;
 	font-weight: 900;
 	letter-spacing: 1.4px;
 	line-height: 15px;
 	padding: 15px 60px 14px 15px;
 	border: 1px solid #FF6F0F;
}

.plusButton {
	color: white;
	background-color: #FF6F0F;
	padding: 4px 15px 13px 15px;
	border: 1px solid #FF6F0F;
	font-size: 26px;
	font-weight: lighter;
	font-family: 'Quicksand', sans-serif;
}




/*Trialing new plus sign +*/

.circle {
  /*border-radius: 50%;*/
  width: 41px;
  height: 41px;
  padding: 2.7px;
  background-color: #FF6F0F;
  position: relative;
  margin: -46px 0px 0px 128px;
}
.circle::after {
  content: " ";
  position: absolute;
  display: block;
  background-color: #fff;
  height: 1px;
  margin-top: -1px;
  top: 50%;
  left: 15px;
  right: 15px;
  z-index: 9;
}
.circle::before {
  content: " ";
  position: absolute;
  display: block;
  background-color: #fff;
  width: 1px;
  margin-left: -1px;
  left: 50%;
  top: 15px;
  bottom: 15px;
  z-index: 9;
}


.circle2 {
  /*border-radius: 50%;*/
  width: 40px;
  height: 40px;
  padding: 2.9px;
  background-color: #FF6F0F;
  position: relative;
  margin: -46px 0px 0px 128px;
}
.circle2::after {
  content: " ";
  position: absolute;
  display: block;
  background-color: #fff;
  height: 1px;
  margin-top: -1px;
  top: 50%;
  left: 15px;
  right: 15px;
  z-index: 9;
}
.circle2::before {
  content: " ";
  position: absolute;
  display: block;
  background-color: #fff;
  width: 1px;
  margin-left: -1px;
  left: 50%;
  top: 15px;
  bottom: 15px;
  z-index: 9;
}




/*Finish here*/






.buttonSecond {
	padding: 15px 0px 0px 0px;
}



.greyScheme h1 {
color: #BEBEBE;
	font-family: "Roboto Slab";
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1.4px;
	line-height: 28px;
	text-align: left;
}

.greyScheme h4 {
	color: #BEBEBE;
	font-family: "Roboto Slab";
	font-size: 22px;
	font-weight: lighter;
	letter-spacing: 1.8px;
	line-height: 28px;
	text-align: left;
	margin-bottom: -5px;

}


.highlight-paragraph {
	color: #27198C;
	font-family: Muli;
	font-size: 39px;
	font-weight: 900;
	line-height: 60px;

}

.small-paragraph {
	color: #191919;
	font-family: Muli;
	font-size: 20px;
	font-weight: 600;
	line-height: 38px;
	margin-top: 30px;
}

.section {

	padding: 12px 0px 60px 0px;

}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column1 {
  float: left;
  width: 17.99%;
  padding: 25px 0px 0px 0px;
  text-align: center;
	margin: 22px;
}

/* Clear floats after image containers */
.row1::after {
  content: "";
  clear: both;
  display: table;
}


.columnImages img {

	height: 120px;
	width: auto;
	margin-top: -25px;
}

.column1 h1 {
	color: #E5E5E5;
	font-family: Muli;
	font-size: 38px;
	font-weight: 900;
	line-height: 58px;
}

.column1 p {
	color: #27198C;
	font-family: 'Roboto Slab';
	font-size: 14.8px;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
}





/*.column1 {
text-align: center;
  width: 100%;
  
}*/

.columnInside {
	padding: 20px;
}

.imagesLeaves img {
	
	height: 630px;
	width: auto;
}


.imagesRightColumn img {
	width: 600px;
	height: auto;
	padding: 20px 0px 0px 0px;
}

.topImageRight img {
	padding: 20px 0px 0px 0px;
}

.row1Hidden {
	display: none;
}

.HiddenMobile {
	 display: inline;
	
	}

	.slidesE {
		display: none;
	}




/*Large Desktop*/

@media (min-width: 1500px) and (max-width : 2000px){

body {
		padding: 40px 30px 0px 30px;
		

	}

	.paragraphBox br {
	display: none;
}


	.row1 {
		margin: 0px -160px 0px 0px;
	}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


.button {
	background-color: #F6F6F6;
	color: #27198C;
 	font-family: Muli;	 	
	font-size: 18px;
 	font-weight: 900;
 	letter-spacing: 1.4px;
 	line-height: 15px;
 	padding: 29px 110px 29px 32px;
 	border: 1px solid #FF6F0F;
}

.plusButton {
	color: white;
	background-color: #FF6F0F;
	padding: 4px 15px 13px 15px;
	border: 1px solid #FF6F0F;
	font-size: 26px;
	font-weight: lighter;
	font-family: 'Quicksand', sans-serif;
}




/*Trialing new plus sign +*/

.circle {
  /*border-radius: 50%;*/
  width: 70px;
  height: 69px;
  padding: 2.7px;
  background-color: #FF6F0F;
  position: relative;
  margin: -75px 0px 0px 228px;
}
.circle::after {
  content: " ";
  position: absolute;
  display: block;
  background-color: #fff;
  height: 1px;
  margin-top: -1px;
  top: 50%;
  left: 25px;
  right: 25px;
  z-index: 9;
}
.circle::before {
  content: " ";
  position: absolute;
  display: block;
  background-color: #fff;
  width: 1px;
  margin-left: -1px;
  left: 50%;
  top: 25px;
  bottom: 25px;
  z-index: 9;
}


.circle2 {
  /*border-radius: 50%;*/
  width: 70px;
  height: 69px;
  padding: 3px;
  background-color: #FF6F0F;
  position: relative;
  margin: -75px 0px 0px 228px;
}
.circle2::after {
  content: " ";
  position: absolute;
  display: block;
  background-color: #fff;
  height: 1px;
  margin-top: -1px;
  top: 50%;
  left: 25px;
  right: 25px;
  z-index: 9;
}
.circle2::before {
  content: " ";
  position: absolute;
  display: block;
  background-color: #fff;
  width: 1px;
  margin-left: -1px;
  left: 50%;
  top: 25px;
  bottom: 25px;
  z-index: 9;
}




/*Finish here*/






.buttonSecond {
	padding: 15px 0px 0px 0px;
}



.greyScheme h1 {
color: #BEBEBE;
	font-family: "Roboto Slab";
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1.4px;
	line-height: 28px;
	text-align: left;

}

.greyScheme h4 {
	color: #BEBEBE;
	font-family: "Roboto Slab";
	font-size: 22px;
	font-weight: lighter;
	letter-spacing: 1.8px;
	line-height: 28px;
	text-align: left;
	margin-bottom: -5px;

}


.highlight-paragraph {
	color: #27198C;
	font-family: Muli;
	font-size: 39px;
	font-weight: 900;
	line-height: 60px;

}

.small-paragraph {
	color: #191919;
	font-family: Muli;
	font-size: 20px;
	font-weight: 600;
	line-height: 45px;
	margin-top: 30px;
}

.section {

	padding: 20px 0px 60px 0px;

}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column1 {
  float: left;
  width: 19.99%;
  padding: 25px 0px 0px 0px;
  text-align: center;
	margin: 10px;
}

/* Clear floats after image containers */
.row1::after {
  content: "";
  clear: both;
  display: table;
}


.columnImages img {

	height: 120px;
	width: auto;
	margin-top: -25px;
}

.column1 h1 {
	color: #E5E5E5;
	font-family: Muli;
	font-size: 68px;
	font-weight: 900;
	line-height: 58px;

}

.column1 p {
	color: #27198C;
	font-family: 'Roboto Slab';
	font-size: 17.8px;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 35px;
	text-align: center;
	text-transform: uppercase;
}





/*.column1 {
text-align: center;
  width: 100%;
  
}*/

.columnInside {
	padding: 20px;
}

.imagesLeaves img {
	
	height: 960px;
	width: auto;
	padding: 20px 0px 30px 0px;
}


.imagesRightColumn img {
	width: 600px;
	height: auto;
	padding: 40px 0px 60px 0px;
}

.topImageRight img {
	padding: 20px 0px 0px 0px;
}

.row1Hidden {
	display: none;
}

.HiddenMobile {
	 display: inline;
	
	}

	.slidesE {
		display: none;
	}

}

/*Small Desktop*/


@media (min-width: 1300px) and (max-width : 1500px){

body {
		padding: 40px 30px 0px 30px;


	}

	.paragraphBox br {
	display: none;
}


.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


.button {
	background-color: #F6F6F6;
	color: #27198C;
 	font-family: Muli;	 	
	font-size: 15px;
 	font-weight: 900;
 	letter-spacing: 1.4px;
 	line-height: 15px;
 	padding: 22px 90px 25px 28px;
 	border: 1px solid #FF6F0F;
}

.plusButton {
	color: white;
	background-color: #FF6F0F;
	padding: 4px 15px 13px 15px;
	border: 1px solid #FF6F0F;
	font-size: 26px;
	font-weight: lighter;
	font-family: 'Quicksand', sans-serif;
}




/*Trialing new plus sign +*/

.circle {
  /*border-radius: 50%;*/
  width: 59px;
  height: 59px;
  padding: 2.7px;
  background-color: #FF6F0F;
  position: relative;
  margin: -64px 0px 0px 190px;
}
.circle::after {
  content: " ";
  position: absolute;
  display: block;
  background-color: #fff;
  height: 1px;
  margin-top: -1px;
  top: 50%;
  left: 20px;
  right: 20px;
  z-index: 9;
}
.circle::before {
  content: " ";
  position: absolute;
  display: block;
  background-color: #fff;
  width: 1px;
  margin-left: -1px;
  left: 50%;
  top: 20px;
  bottom: 20px;
  z-index: 9;
}


.circle2 {
  /*border-radius: 50%;*/
  width: 58px;
  height: 58px;
  padding: 3px;
  background-color: #FF6F0F;
  position: relative;
  margin: -64px 0px 0px 178px;
}
.circle2::after {
  content: " ";
  position: absolute;
  display: block;
  background-color: #fff;
  height: 1px;
  margin-top: -1px;
  top: 50%;
  left: 20px;
  right: 20px;
  z-index: 9;
}
.circle2::before {
  content: " ";
  position: absolute;
  display: block;
  background-color: #fff;
  width: 1px;
  margin-left: -1px;
  left: 50%;
  top: 20px;
  bottom: 20px;
  z-index: 9;
}




/*Finish here*/






.buttonSecond {
	padding: 15px 0px 0px 0px;
}



.greyScheme h1 {
color: #BEBEBE;
	font-family: "Roboto Slab";
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1.4px;
	line-height: 28px;
	text-align: left;
}

.greyScheme h4 {
	color: #BEBEBE;
	font-family: "Roboto Slab";
	font-size: 18px;
	font-weight: lighter;
	letter-spacing: 1.8px;
	line-height: 28px;
	text-align: left;
	margin-bottom: -5px;

}


.highlight-paragraph {
	color: #27198C;
	font-family: Muli;
	font-size: 39px;
	font-weight: 900;
	line-height: 60px;

}

.small-paragraph {
	color: #191919;
	font-family: Muli;
	font-size: 20px;
	font-weight: 600;
	line-height: 38px;
	margin-top: 30px;
}

.section {

	padding: 20px 0px 60px 0px;

}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column1 {
  float: left;
  width: 19.99%;
  padding: 25px 0px 0px 0px;
  text-align: center;
	margin: 15px;
}

/* Clear floats after image containers */
.row1::after {
  content: "";
  clear: both;
  display: table;
}

.row1 {
	margin: 15px 0px 0px 0px;
}


.columnImages img {

	height: 90px;
	width: auto;
	margin-top: -25px;
}

.column1 h1 {
	color: #E5E5E5;
	font-family: Muli;
	font-size: 45px;
	font-weight: 900;
	line-height: 58px;
}

.column1 p {
	color: #27198C;
	font-family: 'Roboto Slab';
	font-size: 15.8px;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
}





/*.column1 {
text-align: center;
  width: 100%;
  
}*/

.columnInside {
	padding: 12px;
}

.imagesLeaves img {
	
	height: 620px;
	width: auto;
}


.imagesRightColumn img {
	width: 600px;
	height: auto;
	padding: 20px 0px 0px 0px;
}

.topImageRight img {
	padding: 20px 0px 0px 0px;
}

.row1Hidden {
	display: none;
}

.HiddenMobile {
	 display: inline;
	
	}

	.slidesE {
		display: none;
	}

}


/*My Desktop ---- Smaller Desktop*/

@media (min-width: 1000px) and (max-width : 1300px){
body {
		padding: 40px 30px 0px 30px;
	

	}


.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


.button {
	background-color: #F6F6F6;
	color: #27198C;
 	font-family: Muli;	 	
	font-size: 15px;
 	font-weight: 900;
 	letter-spacing: 1.4px;
 	line-height: 15px;
 	padding: 22px 90px 25px 28px;
 	border: 1px solid #FF6F0F;
}

.plusButton {
	color: white;
	background-color: #FF6F0F;
	padding: 4px 15px 13px 15px;
	border: 1px solid #FF6F0F;
	font-size: 26px;
	font-weight: lighter;
	font-family: 'Quicksand', sans-serif;
}




/*Trialing new plus sign +*/

.circle {
  /*border-radius: 50%;*/
  width: 59px;
  height: 59px;
  padding: 2.7px;
  background-color: #FF6F0F;
  position: relative;
  margin: -64px 0px 0px 190px;
}
.circle::after {
  content: " ";
  position: absolute;
  display: block;
  background-color: #fff;
  height: 1px;
  margin-top: -1px;
  top: 50%;
  left: 20px;
  right: 20px;
  z-index: 9;
}
.circle::before {
  content: " ";
  position: absolute;
  display: block;
  background-color: #fff;
  width: 1px;
  margin-left: -1px;
  left: 50%;
  top: 20px;
  bottom: 20px;
  z-index: 9;
}


.circle2 {
  /*border-radius: 50%;*/
  width: 58px;
  height: 58px;
  padding: 3px;
  background-color: #FF6F0F;
  position: relative;
  margin: -64px 0px 0px 178px;
}
.circle2::after {
  content: " ";
  position: absolute;
  display: block;
  background-color: #fff;
  height: 1px;
  margin-top: -1px;
  top: 50%;
  left: 20px;
  right: 20px;
  z-index: 9;
}
.circle2::before {
  content: " ";
  position: absolute;
  display: block;
  background-color: #fff;
  width: 1px;
  margin-left: -1px;
  left: 50%;
  top: 20px;
  bottom: 20px;
  z-index: 9;
}




/*Finish here*/






.buttonSecond {
	padding: 15px 0px 0px 0px;
}



.greyScheme h1 {
color: #BEBEBE;
	font-family: "Roboto Slab";
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1.4px;
	line-height: 28px;
	text-align: left;
}

.greyScheme h4 {
	color: #BEBEBE;
	font-family: "Roboto Slab";
	font-size: 15px;
	font-weight: lighter;
	letter-spacing: 1.8px;
	line-height: 28px;
	text-align: left;
	margin-bottom: -5px;

}


.highlight-paragraph {
	color: #27198C;
	font-family: Muli;
	font-size: 35px;
	font-weight: 900;
	line-height: 40px;

}

.small-paragraph {
	color: #191919;
	font-family: Muli;
	font-size: 18px;
	font-weight: 600;
	line-height: 28px;
	margin-top: 30px;
}

.section {

	padding: 20px 0px 60px 0px;

}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column1 {
  float: left;
  width: 17.99%;
  padding: 25px 0px 0px 0px;
  text-align: center;
	margin: 15px;
}

/* Clear floats after image containers */
.row1::after {
  content: "";
  clear: both;
  display: table;
}

.row1 {
	margin: 15px -80px 0px -10px;
}



.columnImages img {

	height: 80px;
	width: auto;
	margin-top: -25px;
}

.column1 h1 {
	color: #E5E5E5;
	font-family: Muli;
	font-size: 45px;
	font-weight: 900;
	line-height: 58px;
}

.column1 p {
	color: #27198C;
	font-family: 'Roboto Slab';
	font-size: 9.8px;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
}





/*.column1 {
text-align: center;
  width: 100%;
  
}*/

.columnInside {
	padding: 12px;
}

.imagesLeaves img {
	
	height: 620px;
	width: auto;
}


.imagesRightColumn img {
	width: 600px;
	height: auto;
	padding: 20px 0px 0px 0px;
}

.topImageRight img {
	padding: 20px 0px 0px 0px;
}

.row1Hidden {
	display: none;
}

.HiddenMobile {
	 display: inline;
	
	}

	.slidesE {
		display: none;
	}
}


/*tablet*/

@media only screen and (max-width: 1000px) {

	.columnInside {
	padding: 12px;
}

.highlightBox br {
		display: inline;
	}

body {
		padding: 10px 10px 0px 10px;
		

	}

	.imagesRightColumn img {
		width: 150px;
		height: 300px;
		padding: 40px 0px 0px 0px;
		margin-top: -20px;
	}

	.topImageRight img {
		padding: 65px 0px 0px 0px;
	}

	.imagesLeaves img {
	
	height: 390px;
	width: auto;
	margin-top: -10px;
	}

	.greyScheme h4 {
	color: #BEBEBE;
    font-family: "Roboto Slab";
    font-size: 17px;
    font-weight: lighter;
    letter-spacing: 1.8px;
    line-height: 28px;
    text-align: left;
    margin-bottom: -5px;
	}

	.small-paragraph {
	
		font-size: 13.96px;
		margin-top: -7px;
		padding: 10px 0px 10px 0px;
		color: #191919;
		line-height: 32px;
		
	}

	.highlight-paragraph {
	
	
		color: #27198C;
	font-family: Muli;
	font-size: 25px;
	font-weight: 900;
	line-height: 44px;

	
	}

	.highlightBox {
		width: 95%;
	}

	.column1 h1 {
		display: none;
	}

	.column1 {
	  float: left;
	  width: 100%;
	  padding: 10px 0px 0px 0px;
	  text-align: left;
	  margin: 40px 0px 0px 0px;
	}

	/* Clear floats after image containers */
	.row1::after {
	  content: "";
	  clear: both;
	  display: table;
	}

	.columnImages img {

	height: 48px;
	width: auto;
	margin: -25px 0px 0px 0px;

	}

	

	.column1 p {

	text-align: left;
	font-size: 13px;
	}

	.paragraphTablet p {
		margin-top: -40px;
		margin-left: 70px;
	}

	.row1 {
		margin: 65px 0px 0px 0px;

	}

	
	.section {

		padding: 0px 0px 60px 0px;

	}

	.buttonSecond {
	padding: 30px 0px 0px 0px;
	}



	.circle {
	  /*border-radius: 50%;*/
	  width: 46px;
	  height: 46px;
	  padding: 0px;
	  background-color: #FF6F0F;
	  position: relative;
	  margin: -46px 0px 0px 128px;
	}
	.circle::after {
	  content: " ";
	  position: absolute;
	  display: block;
	  background-color: #fff;
	  height: 1px;
	  margin-top: -1px;
	  top: 50%;
	  left: 15px;
	  right: 15px;
	  z-index: 9;
	}
	.circle::before {
	  content: " ";
	  position: absolute;
	  display: block;
	  background-color: #fff;
	  width: 1px;
	  margin-left: -1px;
	  left: 50%;
	  top: 15px;
	  bottom: 15px;
	  z-index: 9;
	}

	.circle2 {
	  /*border-radius: 50%;*/
	  width: 46px;
	  height: 46px;
	  padding: 0px;
	  background-color: #FF6F0F;
	  position: relative;
	  margin: -46px 0px 0px 128px;
	}
	.circle2::after {
	  content: " ";
	  position: absolute;
	  display: block;
	  background-color: #fff;
	  height: 1px;
	  margin-top: -1px;
	  top: 50%;
	  left: 15px;
	  right: 15px;
	  z-index: 9;
	}
	.circle2::before {
	  content: " ";
	  position: absolute;
	  display: block;
	  background-color: #fff;
	  width: 1px;
	  margin-left: -1px;
	  left: 50%;
	  top: 15px;
	  bottom: 15px;
	  z-index: 9;
	}

	.HiddenMobile {
	 display: inline;
	
	}

	.slidesE {
		display: none;
	}

}


/*Breaking it into 1 collumn after tablet */

@media only screen and (max-width: 700px) {

	.column {
    float: left;
    width: 100%;
	}
	.section {

		padding: 0px 0px 0px 0px;
		margin: 0px 0px -30px 0px;

	}

	.row1Hidden {
	 display: inline;
	
	}

	.row1HiddenTwo {
		display: none;
	}

.imagesLeaves img {
	
	height: 550px;
	width: auto;
	margin-top: 40px;
	}



}




/*Mobile*/

@media only screen and (max-width: 500px) {

	.column {
    float: left;
    width: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

		.imagesRightColumn img {
		height: 350px;
		width: auto;
		padding: 35px 0px 0px 0px;
		display: none;
	}

	.topImageRight img {
		padding: 50px 0px 0px 0px;
	}

	.imagesLeaves img {
	
	height: 330px;
	width: auto;
	margin-top: 40px;
	}

	.small-paragraph {
	
	color: #191919;
	font-family: Muli;
	font-size: 14px;
	font-weight: 600;
	line-height: 28px;
	padding: 20px 0px 0px 0px;
		
	}

	.highlight-paragraph {
	
	color: #27198C;
	font-family: Muli;
	font-size: 21px;
	font-weight: 900;
	line-height: 34px;
	
	}

	.column1 h1 {
		display: none;
	}

	.column1 {
	  float: left;
	  width: 100%;
  padding: 20px 0px 0px 0px;
  text-align: left;
	margin: 22px 0px 0px 0px;
	}


/*
.slideshow-container {
	 display: flex;
  		overflow-x: auto;
  		  -webkit-overflow-scrolling: touch;
}

.slidesE {
	flex-shrink: 0;
  height: 100%;
}
*/


	/* Clear floats after image containers */
	.row1::after {
	  content: "";
	  clear: both;
	  display: table;
	}

	.columnImages img {

	height: 40px;
	width: auto;
	padding: 0px 0px 0px 0px;

	}

	.column1 p {

	text-align: left;
	font-size: 15px;
	}

	.paragraphTablet p {
		margin-top: -35px;
		margin-left: 60px;

		color: #27198C;
		font-family: "Roboto Slab";
		font-size: 11px;
		font-weight: bold;
		letter-spacing: 1.4px;
		line-height: 20px;
	}

	.row1 {
		margin: 30px 0px 0px 0px;

	}

	
	.section {

		padding: 10px 0px 0px 0px;
		margin: 0px 0px -10px 0px;

	}

	.buttonSecond {
	padding: 50px 0px 0px 0px;

	}

	body {
		padding: 0px 0px 0px 0px;
		

	}


	.greyScheme h4 {
	color: #BEBEBE;
	font-family: "Roboto Slab";
	font-size: 14px;
	font-weight: lighter;
	letter-spacing: 1.8px;
	line-height: 28px;
	text-align: left;
	margin-bottom: -5px;

}

	.row1Hidden {
	 display: inline;
	
	}

	.row1HiddenTwo {
		display: none;
	}

	.button {
		background-color: #F6F6F6;
		color: #27198C;
	 	font-family: Muli;	 	
		font-size: 10px;
	 	font-weight: 900;
	 	letter-spacing: 1.4px;
	 	line-height: 15px;
	 	padding: 16px 60px 14px 15px;
	 	border: 1px solid #FF6F0F;
	}

	.plusButton {
		color: white;
		background-color: #FF6F0F;
		padding: 0px 15px 12px 15px;
		border: 1px solid #FF6F0F;
		font-size: 28px;
		font-weight: 90;
		/*font-family: Muli;*/
	}

		* {box-sizing:border-box}

	/* Slideshow container */
	.slideshow-container {
	  max-width: 1000px;
	  position: relative;
	  margin: auto;
	}

	/* Hide the images by default */
	.mySlides {
	    display: none;
	}

	/* The dots/bullets/indicators */
	.dot {
	  cursor: pointer;
	  height: 2px;
	  width: 11px;
	  margin: 0 2px;
	  background-color: #27198C;
	  /*border-radius: 50%;*/
	  display: inline-block;
	  transition: background-color 0.6s ease;
	}

	.active, .dot:hover {
	  background-color: #FF6F0F;
	}

	.circle {
	  /*border-radius: 50%;*/
	  width: 47px;
	  height: 47px;
	  padding: 2px;
	  background-color: #FF6F0F;
	  position: relative;
	  margin: -47px 0px 0px 128px;
	}
	.circle::after {
	  content: " ";
	  position: absolute;
	  display: block;
	  background-color: #fff;
	  height: 1px;
	  margin-top: -1px;
	  top: 50%;
	  left: 15px;
	  right: 15px;
	  z-index: 9;
	}
	.circle::before {
	  content: " ";
	  position: absolute;
	  display: block;
	  background-color: #fff;
	  width: 1px;
	  margin-left: -1px;
	  left: 50%;
	  top: 15px;
	  bottom: 15px;
	  z-index: 9;
	}

	.circle2 {
	  /*border-radius: 50%;*/
	  width: 47px;
	  height: 47px;
	  padding: 2px;
	  background-color: #FF6F0F;
	  position: relative;
	  margin: -47px 0px 0px 128px;
	}
	.circle2::after {
	  content: " ";
	  position: absolute;
	  display: block;
	  background-color: #fff;
	  height: 1px;
	  margin-top: -1px;
	  top: 50%;
	  left: 15px;
	  right: 15px;
	  z-index: 9;
	}
	.circle2::before {
	  content: " ";
	  position: absolute;
	  display: block;
	  background-color: #fff;
	  width: 1px;
	  margin-left: -1px;
	  left: 50%;
	  top: 15px;
	  bottom: 15px;
	  z-index: 9;
	}

	.HiddenMobile {
	 display: none;
	
	}

	.slidesE {
		display: inline;
	}

	.highlightBox br {
		display: none;
	}

}



